#register-login{
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 100px 200px 100px 200px;
  box-shadow: 10px 10px 5px grey;
}
#getStarted{
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 380px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  width: fit-content;
  height: 200px;
  padding: 65px 20px 20px 20px;
}
